@media screen and (min-width: 601px) {
    .ngx-mat-drp-date-display {
        min-width: 233px;
    }
}

.ngx-mat-drp-date-input {
    text-overflow: ellipsis;
}

::ng-deep .mat-calendar-body-today {
    border: none !important;
  }
