.ngx-mat-drp-date-label {
    background: #fafafa;
    margin: 15px;
    padding: 4px 2px 4px 2px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.ngx-mat-drp-selected-date-label {
    color: rgba(0,0,0,.38);
    padding-left: 5%;
}

@media screen and (min-width: 341px) and (max-width: 600px) {
    /* use viewports for smaller device screens so it always fits */
    .mat-calendar {
        max-width: 210px;
        width: 50vw;
        height: 35vh
    }
}

@media screen and (max-width: 340px){
    .mat-calendar {
        width: 90vw;
    }
}

@media screen and (min-width: 601px) {
    .mat-calendar {
        width: 15vw;
        height: 30vh;
        min-width: 250px;
        min-height: 300px;
    }
}